/*css for main page*/

a{
    color: #600;
}

.image-container{
    background-image: url("../img/its_not_your_time.jpg");
    background-color: darkslateblue;
    background-size: cover;
    height: 300px;
    width: 70%;
    background-position: center;
    position: absolute;
}
.brand-logo{
    opacity: .5;
}
.tab_container{
    position: absolute;
    top: 450px;
}

.invisible{
    display: none;
}